<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionStringDeRL"
            connectionString="workstation id=DbAcopioDeRL.mssql.somee.com;packet size=4096;user id=AMGC_SQLLogin_1;pwd=zbal1ojrif;data source=DbAcopioDeRL.mssql.somee.com;persist security info=False;initial catalog=DbAcopioDeRL;TrustServerCertificate=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>